* {
    margin: 0;
    text-align: center;
}
#intro {
    display: block;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2017/07/21/23/41/note-2527454_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/07/21/23/41/rope-2527457_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/08/07/04/05/heart-2599643_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/02/10/20/49/banner-2056314_960_720.png');*/
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#options {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2017/01/19/15/36/banner-1992606_960_720.png');*/ 
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#offset1 {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2017/01/05/14/11/valentines-day-1955236_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/01/18/21/30/banner-1990932_960_720.png');*/ 
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#offset2 {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2018/02/11/13/00/easter-bunny-3145745_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/02/10/20/49/banner-2056314_960_720.png');*/ 
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#encodeMessage {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2017/11/09/18/25/girl-2934257_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/01/12/00/50/banner-1973380_960_720.jpg');*/
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#decodeMessage {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2019/01/12/19/27/valentine-3929127_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/01/12/00/50/banner-1973380_960_720.jpg');*/
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#exit {
    display: none;
    background-image:
    /*url('https://cdn.pixabay.com/photo/2015/01/22/21/32/stones-608373_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2017/07/21/23/38/map-2527433_960_720.jpg');
    /*url('https://cdn.pixabay.com/photo/2015/01/22/21/32/stones-608374_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2015/01/22/23/22/mother-608492_960_720.jpg');*/
    /*url('https://cdn.pixabay.com/photo/2018/02/04/02/24/valentine-3128921_960_720.jpg');*/
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
    padding-top: 5rem;
}

p{
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    margin-top: 35px;
}
input {
    width:350px;
    height:30px;
    border-radius: 30px;
    margin-top: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
button {
    width:250px;
    height:45px;
    color: #FFFFFF;
    background-image: linear-gradient(#DE3354, red); 
    border-radius: 50px;
    margin-top: 40px;
    font-family: 'Noto Serif', serif;
    font-size: 0.85rem;
}
span {
    font-family: 'Noto Serif', serif;
    font-size: 1.23rem;
}
.textarea {
    background: inherit;
    border: 0;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}