* {
    margin: 0;
    text-align: center;
}
#intro {
    display: block;
    background-image:
    url('https://cdn.pixabay.com/photo/2017/10/28/22/03/envelope-2898268_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#options {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2019/01/12/16/56/valentines-day-3928886_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#offset1 {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2018/10/16/08/08/yellow-3750886_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#offset2 {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2018/10/18/10/32/heart-3755986_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#encodeMessage {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2018/10/18/10/37/heart-3755997_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#decodeMessage {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2018/10/16/08/08/heart-3750885_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}
#exit {
    display: none;
    background-image:
    url('https://cdn.pixabay.com/photo/2015/02/10/17/41/red-631349_960_720.jpg');
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 626px;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #88020C;
    padding-top: 4.5rem;
}

p{
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    color: #5D030A;
    margin-top: 35px;
}
input {
    width:350px;
    height:50px;
    border-radius: 19px;
    margin-top: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
button {
    width:250px;
    height:45px;
    color: #FFFFFF;
    background-image: linear-gradient(#DE3354, red); 
    border-radius: 50px;
    margin-top: 40px;
    font-family: 'Noto Serif', serif;
    font-size: 0.85rem;
}
span {
    font-family: 'Noto Serif', serif;
    font-size: 1.23rem;
}
.textarea {
    background: inherit;
    border: 0;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #000000;
}